* {
    box-sizing: border-box;
}

/*Controls settings for mobile devices*/

@media screen and (max-width: 1024px) {

    .keys {
        display: grid;
        position: fixed;
        margin: 0 auto;
        max-width: 1000px;
    }

    /*ARROW KEYS TAKEN FROM FreeIconsPng.com*/
    .left {
        position: inherit;
        margin: 450px auto;
        width: 450px;
        height: 300px;
        padding: 0 auto;
        background: url('https://github.com/sophistique-chat/my-pic-bin/blob/master/arrow-left.png?raw=true') no-repeat;
        background-position: -10% 50%;
        background-size: 150px 100px;
        opacity: 0.5;
    }

    .right {
        position: inherit;
        margin: 450px 0 0 460px;
        width: 450px;
        height: 300px;
        padding: 0 auto;
        background: url('https://github.com/sophistique-chat/my-pic-bin/blob/master/arrow-right.png?raw=true') no-repeat;
        background-position: 110% 50%;
        background-size: 150px 100px;
        opacity: 0.5;
    }

    .up-right {
        position: inherit;
        margin: 175px 0 0 460px;
        width: 450px;
        height: 270px;
        padding: 0 auto;
        background: url('https://github.com/sophistique-chat/my-pic-bin/blob/master/arrow-up.png?raw=true') no-repeat;
        background-position: 100% 80%;
        background-size: 150px 100px;
        opacity: 0.5;
    }

    .up-left {
        position: inherit;
        margin: 175px 0 0 0;
        width: 450px;
        height: 270px;
        padding: 0 auto;
        background: url('https://github.com/sophistique-chat/my-pic-bin/blob/master/arrow-up.png?raw=true') no-repeat;
        background-position: -5% 80%;
        background-size: 150px 100px;
        opacity: 0.5;
    }

    .down-left {
        position: inherit;
        margin: 755px 0 0 0;
        width: 450px;
        height: 240px;
        padding: 0 auto;
        background: url('https://github.com/sophistique-chat/my-pic-bin/blob/master/arrow-down.png?raw=true') no-repeat;
        background-position: -5% -20%;
        background-size: 150px 100px;
        opacity: 0.5;
    }

    .down-right {
        position: inherit;
        margin: 755px 0 0 460px;
        width: 450px;
        height: 240px;
        padding: 0 auto;
        background: url('https://github.com/sophistique-chat/my-pic-bin/blob/master/arrow-down.png?raw=true') no-repeat;
        background-position: 105% -20%;
        background-size: 150px 100px;
        opacity: 0.5;
    }

}


/*For iPad Pro*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

    body {
        margin-top: 7em;
        position: relative;
        display: table;
        top: 10%;
        left: 5%;
    }

    .canvas {
        max-width: 950px;
        min-height: 1000px;
        margin: 0 auto;
    }

    .modal1 .message {
        align-items: center;
        position: absolute;
        margin: 0 0 0 -2.5em;
        padding: 1em 0 0 0;
        font-size: 2.5em;

    }
    .modal .message {
        align-items: center;
        position: absolute;
        margin: 0 0 0 -5em;
        padding: 1em 0 0 0;
        font-size: 2.5em;
    }

    .score {
        align-items: center;
        position: absolute;
        margin: 16.5em 0 0 -3.5em;
        font-size: 2em;
    }

    .modal .numG {
        margin: 0em 0em 0em 0.3em;
    }

    .modal,
    .modal1 {
        background-size: 28em 28em;
    }

    .button {
        position: absolute;
        margin: 10em 1em 1em 3em;
        width: 150px;
        height: 150px;
        font-size: 2em;
        background-position: 105% 255%;
        background-size: 70% 110%;
        border: 4px solid black;
    }

    #panel {
        position: relative;
        align-content: center;
        font-size: 2.5em;
        margin: 0 0 -1em 0;
    }

}

/*-------------------*/

/*For iPad*/

@media screen and (min-width: 650px) and (max-width: 768px) {

    body {
        margin-top: 7em;
        position: relative;
        display: table;
        top: 10%;
        left: 5%;
    }

    .left {
        position: inherit;
        margin: 385px auto;
        width: 43%;
        height: 190px;
    }

    .right {
        position: inherit;
        margin: 385px 0 0 340px;
        width: 43%;
        height: 190px;
    }

    .up-right {
        position: inherit;
        margin: 160px 0 0 340px;
        width: 43%;
        height: 220px;
    }

    .up-left {
        position: inherit;
        margin: 160px 0 0 0;
        width: 43%;
        height: 220px;
    }

    .down-left {
        position: inherit;
        margin: 580px 0 0 0;
        width: 43%;
        height: 160px;
    }

    .down-right {
        position: inherit;
        margin: 580px 0 0 340px;
        width: 43%;
        height: 160px;
    }

    #panel {
        position: relative;
        align-content: center;
        font-size: 2.5em;
        margin: 0 0 -1em 0;
    }

    .canvas {
        display: flex;
        max-width: 700px;
        max-height: 1024px;
        padding-top: 2em;
        margin: 0 auto;
    }


    .modal1 .message {
        align-items: center;
        position: absolute;
        margin: 1em 0 0 -2em;
        padding: 1em 0 0 0;
        font-size: 1.5em;
    }

    .modal .message {
        align-items: center;
        position: absolute;
        margin: 0 0 0 -4.5em;
        padding: 2em 0 0 0;
        font-size: 1.5em;
    }

    .score {
        align-items: center;
        position: absolute;
        margin: 13.7em 0 0 -3.5em;
        font-size: 1.6em;
    }

    .modal .numG {
        margin: 0em 0em 0em 0.3em;
    }

    .modal,
    .modal1 {
        background-size: 18em 18em;
    }

    .button {
        position: absolute;
        margin: 11em 1em 1em 3em;
        width: 100px;
        height: 100px;
        font-size: 1.2em;
        background-position: 105% 255%;
        background-size: 70% 110%;
        border: 3px solid black;
    }
}

/*-------------------*/

/*For Galaxy S5*/

@media screen and (max-width: 360px) {

    body {
        position: relative;
        display: table;
        top: 10%;
        left: 0;
    }

    #panel {
        position: relative;
        align-content: center;
        font-size: 1.5em;
        margin: 1em 0 -1em 0;
    }

    .canvas {
        display: flex;
        max-width: 340px;
        max-height: 650px;
        padding-top: 2em;
        margin: 0 auto;
    }

    .controls {
        background-size: 50px 80px;
    }

    .left {
        position: inherit;
        margin: 195px auto;
        width: 44%;
        height: 90px;
    }

    .right {
        position: inherit;
        margin: 195px 0 0 170px;
        width: 44%;
        height: 90px;
    }

    .up-right {
        position: inherit;
        margin: 90px 0 0 170px;
        width: 44%;
        height: 100px;
    }

    .up-left {
        position: inherit;
        margin: 90px auto;
        width: 44%;
        height: 100px;
    }

    .down-left {
        position: inherit;
        margin: 290px auto;
        width: 44%;
        height: 90px;
    }

    .down-right {
        position: inherit;
        margin: 290px 0 0 170px;
        width: 44%;
        height: 90px;
    }

    .modal1 .message {
        align-items: center;
        position: absolute;
        margin: 0 0 0 -2em;
        padding: 1em 0 0 0;
        font-size: 1em;
    }

    .modal .message {
        align-items: center;
        position: absolute;
        margin: -1em 0 0 -4.5em;
        padding: 2em 0 0 0;
        font-size: 1em;
    }

    .score {
        align-items: center;
        position: absolute;
        margin: 12em 0 0 -3.5em;
        font-size: 1em;
    }

    .modal .numG {
        margin: 0 auto;
    }

    .modal,
    .modal1 {
        background-size: 10em 10em;
    }

    .button {
        position: absolute;
        margin: 9em 1em 1em 2em;
        width: 70px;
        height: 70px;
        font-size: 0.8em;
        background-position: 105% 255%;
        background-size: 70% 110%;
        border: 2px solid black;
    }
}

/*-----------------*/

/*For screens with width 450px to 649px*/

@media screen and (min-width: 450px) and (max-width: 649px) {

    body {
        margin-top: 2em;
        position: relative;
        display: table;
        top: 10%;
        left: 5%;
    }

    .canvas {
        max-width: 550px;
        max-height: 700px;
        display: flex;
        padding-top: 2em;
        margin: 0 auto;
    }

    .controls {
        background-size: 80px 60px;
    }

    .left {
        position: inherit;
        margin: 305px auto;
        width: 43.5%;
        height: 130px;
    }

    .right {
        position: inherit;
        margin: 305px 0 0 270px;
        width: 43.5%;
        height: 130px;
    }

    .up-right {
        position: inherit;
        margin: 130px 0 0 270px;
        width: 43.5%;
        height: 170px;
    }

    .up-left {
        position: inherit;
        margin: 130px 0 0 0;
        width: 43.5%;
        height: 170px;
    }

    .down-left {
        position: inherit;
        margin: 440px 0 0 0;
        width: 43.5%;
        height: 150px;
    }

    .down-right {
        position: inherit;
        margin: 440px 0 0 270px;
        width: 43.5%;
        height: 150px;
    }

    .modal1 .message {
        align-items: center;
        position: absolute;
        margin: 1em 0 0 -2em;
        padding: 1em 0 0 0;
        font-size: 1.5em;
    }

    .modal .message {
        align-items: center;
        position: absolute;
        margin: 0 0 0 -4.5em;
        padding: 0em 0 0 0;
        font-size: 1.5em;
    }

    .score {
        align-items: center;
        position: absolute;
        margin: 12.7em 0 0 -3.5em;
        font-size: 1.6em;
    }

    .modal .numG {
        margin: 1em 0em 0em 0.3em;
    }

    .modal .modal1 {
        background-size: 15em 15em;
        display: block;
        position: fixed;
        margin: 0 auto;
    }

    .button {
        position: absolute;
        margin: 11em 1em 1em 3em;
        width: 100px;
        height: 100px;
        font-size: 1.2em;
        background-position: 105% 255%;
        background-size: 70% 110%;
        border: 3px solid black;
    }
}

/*-------------------------------*/

/*For screens with width 361px to 449px*/

@media screen and (min-width: 361px) and (max-width: 449px) {

    body {
        margin-top: 2em;
        position: relative;
        display: table;
        top: 10%;
        left: 5%;
    }

    .canvas {
        max-width: 360px;
        max-height: 800px;
        display: flex;
        padding-top: 2em;
        margin: 0 auto;
    }

    .controls {
        background-size: 40px 60px;
    }

    .left {
        position: inherit;
        margin: 198px auto;
        width: 42%;
        height: 90px;
    }

    .right {
        position: inherit;
        margin: 198px 0 0 175px;
        width: 42%;
        height: 90px;
    }

    .up-right {
        position: inherit;
        margin: 95px 0 0 175px;
        width: 42%;
        height: 100px;
    }

    .up-left {
        position: inherit;
        margin: 95px auto;
        width: 42%;
        height: 100px;
    }

    .down-left {
        position: inherit;
        margin: 290px auto;
        width: 42%;
        height: 100px;
    }

    .down-right {
        position: inherit;
        margin: 290px 0 0 175px;
        width: 42%;
        height: 100px;
    }

    .modal,
    .modal1 {
        background-size: 11em 11em;
    }

    .modal1 .message {
        align-items: center;
        position: absolute;
        margin: 1em 0 0 -2em;
        font-size: 1em;
    }

    .modal .message {
        align-items: center;
        position: absolute;
        margin: 1em 0 0 -4.5em;
        font-size: 1em;
    }

    .score {
        align-items: center;
        position: absolute;
        margin: 15em 0 0 -3.5em;
        font-size: 1em;
    }
}

/*For iPhone 6/7/8*/

@media screen and (min-width: 414px) and (max-width: 414px) {
    .left {
        position: inherit;
        margin: 198px auto;
        width: 42%;
        height: 90px;
    }

    .right {
        position: inherit;
        margin: 198px 0 0 170px;
        width: 42%;
        height: 90px;
    }

    .up-right {
        position: inherit;
        margin: 95px 0 0 170px;
        width: 42%;
        height: 100px;
    }

    .up-left {
        position: inherit;
        margin: 95px auto;
        width: 42%;
        height: 100px;
    }

    .down-left {
        position: inherit;
        margin: 290px auto;
        width: 42%;
        height: 100px;
    }

    .down-right {
        position: inherit;
        margin: 290px 0 0 170px;
        width: 42%;
        height: 100px;
    }
}

/*--------------------*/
